html,body{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin:0px;
	/*overflow:hidden; /*if overflow is hidden then you can't pull down to refresh the page*/ 
	background-color:#f0f0f0;
}




ul{
	margin:2rem;
}

li{
	cursor: pointer;
}

li:hover{
	background-color:#8AE859;
}



/*p:hover{
	background-color:#8AE859;
}*/

.playing{
	background-color:#8AE859;
}

/*#audioControls{
	float:right;
}*/
span{
	margin-right: 6px;
}

#currentTrack, #currentTime{
	vertical-align: top;
}

#currentTime{
	color: #bababa;
}

audio{
	float:right;
	display:none;
}

.description{
	color:#8AE859;
}



textarea{
	resize:none;
}

/*new interface*/

/*#roomName{
	opacity:0.5;
	font-size: 1.25rem;
}*/

.button{
	display:inline-block;
	opacity:0.5;
}

#headerContainer .button{
    width:1.5rem;
    height:1.5rem;
    padding:1.5rem 0.5rem;
    margin-right: 1rem;
}

#headerContainer .button img{
	-webkit-filter: invert(100%); 
    -moz-filter: invert(100%); 
    filter: invert(100%);
}

.button img{
	width:100%;
}

#buttons .button{
	width:1.5rem;
	height:1.5rem;
	margin-right:1rem;
}

#headerContainer .button.selected{
	opacity:1;
}

#menu{
	position:relative;
	float:right;
	display:inline-block;
}

.absolute{
	position:absolute;
}

#headerContainer{
	background-color: #007B6C;
	position:fixed;
	width:100%;
	top:0;
	z-index:2;
}

#feedback{
	  font-size: 1rem;
	  float: right;
	  font-weight: normal;
	  margin-top:0.9rem;
	  color:#fff;
	  opacity:0.65;
}

h2{
	margin:0;
	opacity:0.75;
}

input{
	width:100%;
	font-size:1.25rem;
	padding:0.5rem 0.5rem 0.5rem 1rem;
	border:1px solid;
	border-color: #aaa;
	border-radius:0.25rem;
}

.main{
	display:none;
	padding:1rem 1.5rem 1rem 1.5rem;
	overflow: scroll;
	margin-top:5rem;
}

section{
	margin:1.5rem 0rem 2.5rem 0rem;
}

.main section div{
	width: calc(50% - 1rem);
	display:inline-block;
	margin: 0.5rem;
	background-color:#fff;
	overflow: hidden;
	border-radius: 2px;
}

.main section div img{
	width:100%;
}

.main section p{

}

#artists p{
	margin: 0.8rem 0.5rem;
}

.main .tracks div{
	white-space: nowrap;
	width:calc(100% - 1rem);
}

.tracks p{
	display:inline-block;
}

.tracks div.playlist{
	opacity:0.4;
	transition: opacity 0.25s;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#more{
	background: -webkit-linear-gradient(rgba(255,255,255,0), #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0), #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0), #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,0), #fff); /* Standard syntax */
    position:fixed;
    height: 10rem;
    bottom:0;
    width:100%;
    pointer-events: none;
}

p{
	white-space: nowrap;
	text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
	-o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
	overflow:hidden;
	margin:0.5rem;
	font-size:1rem;
}

#albums p:nth-of-type(2){
	opacity:0.5;
}

h1{
	font-size:1.75rem;
	padding:1.25rem;
	margin:0;
	opacity: 0.9;
	color:#fff;
	display:inline-block;
	font-weight:400;
}

.tracks table{
	width:100%;
}

.tracks table,td,tr{
	border:0px;
	padding:0px;
	margin:0px;
	border-spacing: 0;
}

.tracks div tr:first-child td:first-child{
	width:4rem;
}

.tracks div tr:first-child td:nth-of-type(2){
	vertical-align: bottom;
}

.tracks div tr:first-child td:nth-of-type(3){
	width:4rem;
	text-align: right;
}

.tracks div tr:nth-of-type(2){
	vertical-align: top;
}

.tracks div tr:nth-of-type(2) p{
	opacity:0.5;
}

.tracks div tr:nth-of-type(2) p:nth-of-type(2){
	margin:0.25rem 1rem;
	float:right;
	display:none;
}

.tracks img{
	width:100%;
}

td p{
	margin:0.25rem 0rem 0.25rem 1rem;
}

#broadcasts  div{
	width: calc(100% - 1rem);
	white-space: nowrap;
	height:8.5rem;
}

.broadcastImageContainer{
	width: initial !important;
	padding:0 !important;
	margin:0 !important;
	height:100%;
	border-radius: 0px !important;
	height:6rem !important;
}

.broadcastImageContainer img{
	height:100%;
	width:initial !important;
}

.broadcastImageContainer ~ p{
	margin:0.75rem;
}


